@import "../../scss/variable";

.navbar {
  background-color: $cardNavBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;

  .links {
    display: flex;
    font-size: 1.5rem;
    gap: 10px;

    a {
      text-decoration: none;
      color: $secondaryColor;
      text-transform: uppercase;
      padding: 0.5rem;

      &:hover {
        background-color: $secondaryColor;
        color: $cardNavBgColor;
        border-radius: 5px;
      }
    }
  }

  img {
    width: 100px;
    height: 100px;
  }
}
