 .container{
    display: grid;
    grid-template-columns: 250px 400px 350px;
    grid-template-rows: 250px 300px 100px;
 }

 .parca{
    border: 2px solid red;
    text-align: center;

 }

 .parca:nth-child(odd){
    background-color: lightgray;
 }
 .parca:nth-child(even){
    background-color: pink;
 }

 .bir{
    background-image: url(../../hc-04-Form_Elements_Input_types/images/avatar-men.png);
    background-size: cover;
 }

 .dort{
    overflow: auto;
    background-color: orange !important;
    /* pseudo ile verdigimiz stil baskindir. */
 }