//*****************************************************
//*   NAV
//*****************************************************
@use '../abstracts/mixins';
@use '../abstracts/variables';
.nav{
    // border: 2px solid red;
    height: 10vh;
    padding: 1rem;
    &__list{
        text-align: right;
    }
    &__item{
        display: inline;
        padding: 1rem;
    }
    &__link{
        text-transform: uppercase;
        font-size: 1rem;
        text-decoration: none;
        font-family: variables.$font-family;
        font-weight: 500;
        @include mixins.transition(1s);
        &:hover{
            color: variables.$hover-color;
        }
        &--active{
            color: variables.$secondary-color;
        }
    }
}